{
  "branches": [
    "main",
    "+([0-9])?(.{+([0-9]),x}).x",
    {
      "name": "rc**",
      "prerelease": true,
      "channel": "rc"
    }
  ],
  "pkgRoot": ".",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ]
      }
    ]
  ]
}
